extends layout

block content
  div(class='row', style='max-width: 1400px; margin: 180px auto 0; text-align: center')
    div(class='col-md-6 col-xs-12')
      img(src='/img/landing-logo.svg' style='max-width: 100%')
      h1 Go Give
      h2 Give donations now, you 
        span scrooge
        | ! 
      p
        a(href='#')
          img(src='/img/app-store.svg', alt='App Store', style='max-width: 100%')
      p Are you a Help Center? Click 
        a(href='/admin/user/login') Here
    div(class='col-md-6')
  style.
    html {
      height: 100% !important;
      background:#131E24 url(/img/background-scene.jpg) no-repeat 50% 30%;
    }
    body {
      background: none;
      color: white;
    }
    h1 {
      font-weight: 100;
      font-size: 64px;
    }
    h2 {
      margin-top: -10px;
      margin-bottom: 30px;
      font-weight: 100;
      font-size: 20px;
    }
    p {
      font-weight: 100;
    }
    a {
      color: white;
      text-decoration: underline;
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
    span {
      text-decoration: underline;
    }