extends ../layout

block content
  div(style="max-width:800px; margin: 0 auto")
    div(class='row center')
      h1(class='logo')
        a(href='/')
          img(src='/img/logo.svg', alt='GoGive', style='max-height:200px; padding: 20px')
          span(style='display: block') GoGive
          span(style='display: block; font-size:16px') for Refugee Donation Centers
    div(class='row')
      div(class='col-md-6')
        p
          h2(style='font-size:18px') We want to help those who help.
          h3(style='font-size:16px; font-weight: normal') GoGive makes it easy for donation centres to inform donors of which items are required most. 
          h4(style='font-size:16px') With GoGive, you can:
          ul
            li Create an account for storing info about your centre
            li Create a digitalised list of which items you need
            li Specify urgency, deadline and details about required items
            li Items are updated in real-time in the app whenever you make changes

      div(class='col-md-6')
        form(class='form-signin', method='POST')
          h2(style='font-size:18px; margin-top: 0px') Login
          each message in messages
            div(class='alert alert-danger', role='alert')
              span(class='glyphicon glyphicon-exclamation-sign', aria-hidden='true')
              span(class='sr-only') Error:
              |  #{message}
          label(for='inputEmail', class='sr-only') Email
          input(type='email', class='form-control', id='username', name='username', placeholder='Email', required, autofocus)
          label(for='inputEmail', class='sr-only') Password
          input(type='password', class='form-control', id='password', name='password', placeholder='Password', required)
          div(class='checkbox')
            label
              input(type='checkbox', value='remember-me') 
              | Remember me
          button(class='btn btn-lg btn-primary btn-block', type='submit') Sign In
          p(style='margin-top:10px; padding:5px; color: grey; text-align: center') To request an account for your organisation just send a letter here: 
            a(href='mailto:contact@gogive.com') contact@gogive.com